.bg {
  background-color: var(--bg);
  height: 100%;
  min-height: 100vh;
  color: var(--text)
}

.header {
  height: 110px;
  border-bottom: 1px solid rgb(61 61 61);
  width: 100%;
}

@media screen and (max-width: 1473px) {
  .header {
    height: 8rem;
  }
}

@media screen and (max-width: 1203px) {
  .header {
    height: 10rem;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    height: 360px;
  }
}

.headerTitle {
  color: var(--text);
  font-size: 1.5rem;
  margin-top: 10px;
}

.subTitle {
  color: var(--textSoft);
  font-size: 12px;
}

.mapWrapper {
  z-index: 0;
}

.tableHeaderPad {
  margin-top: -40px;
  width: 100%;
  z-index: 100000;
  background-color: var(--bg);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2), 
    0 -4px 8px rgba(0, 0, 0, 0.1), 
    0 -6px 14px var(--textSoftDark); 
  position: relative;
}

.historyTable {
  z-index: 100000;
  background-color: var(--bg);
}

.historyTableHeader {
  color: var(--text);
  border-bottom: 1px solid var(--textSoftDark);
}

.historyTableHeaderCell {
  color: var(--textSoftDark);
}

.historyTableCell {
  color: var(--text);
  border-bottom: 1px solid var(--textSoftDark);
  font-size: 12px;
}

.iconButton {
  cursor: pointer;
  width: 25px;
}

.defaultButton {
  background-color: var(--bg);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center; 
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--border);
}

.defaultButton:hover {
  background-color: var(--border);
}

.confirmButton {
  background-color: var(--button);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center; 
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: 40px;
  border-radius: 8px;
}

.confirmButton:hover {
  background-color: var(--border);
}

.modalBody {
  border-left: 1px solid var(--textSoft);
}

.modalButton {
  background-color: var(--text);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: 40px;
  border-radius: 8px;
  color: var(--bg);
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.modalButton:hover {
  background-color: var(--textSoftDark);
}

.modalButtonSignup {
  background-color: var(--bg);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  height: 40px;
  border-radius: 8px;
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--textSoftDark);
}

.modalButtonSignup:hover {
  background-color: var(--textSoftDark);
}

.subText {
  font-size: 12px;
  color: var(--text);
}

/* dialog */
.dialogOverlay {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: var(--bg);
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 768px;
  max-height: 85vh;
  padding: 0px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  padding: 20px;
  overflow: auto;
}

@media (max-width: 768px) {
  .dialogContent {
    max-width: 300px;
  }
}

.dialogContent:focus {
  outline: none;
}

.modalTitle {
  font-size: 16px;
  font-weight: bold;
}

.modalText {
  font-size: 12px;
}

.cardText {
  color: var(--bg);
}

.cardContent {
  color: var(--bg);
  font-size: 12px;
}