.bg {
  background-color: var(--bg);
  height: 100%;
  min-height: 100vh;
  color: var(--text);
}

.header {
  height: 90px;
  border-bottom: 1px solid rgb(61 61 61);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    height: 110px;
  }
}

.headerTitle {
  color: var(--text);
  font-size: 1.5rem;
  margin-top: 10px;
}

.subTitle {
  color: var(--textSoft);
  font-size: 12px;
}

.contentTitle {
  color: var(--text);
  font-size: 1.5rem;
}

.contentText {
  color: var(--textSoft);
  font-size: 12px;
}

/* search textfield */
.searchPad {
  height: 38px;
  background-color: var(--bgSoft);
  color: var(--text);
  border-radius: 8px;
  font-size: 12px;
}

.iconSlot {
  color: var(--textSoft);
}

.searchPad input::placeholder {
  color: var(--textSoft);
}

.searchPad:focus-within {
  outline: 2px solid var(--border);
}

.selectBox {
  width: 100%;
}

/* GPU cards */
.gpuCard {
  background-color: var(--bg) !important;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid var(--textSoftDark);
  cursor: pointer;
}

.gpuCard:hover {
  border: 2px solid var(--border);
}

.selectValueBox {
  width: 60px;
  height: 30px;
}

.nvidiaTitle {
  background-color: var(--bgSoftDark);
  align-items: center;
  padding-right: 10px;
}

.gpuStatus {
  background-color: var(--bgSoftDark);
}

.contentTextWhite {
  color: var(--text);
  font-size: 12px;
}

.checkOptionButton {
  background-color: var(--bg);
  cursor: pointer;
  border: 1px solid var(--textSoft);
  font-size: 10px;
  text-align: center; 
  flex: 1;
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.checkOptionButton:hover {
  background-color: var(--bgSoft);
}

.selectGPUButton {
  background-color: var(--bg);
  cursor: pointer;
  border: 2px solid var(--border);
  font-size: 10px;
  text-align: center; 
  flex: 1;
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.selectGPUButton:hover {
  background-color: var(--button);
}

.defaultButton {
  background-color: var(--bg);
  cursor: pointer;
  border: 2px solid var(--border);
  text-align: center; 
  flex: 1;
  max-width: 100%; 
  min-width: 100px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 14px;
}

.defaultButton:hover {
  background-color: var(--button);
}

.headerButton {
  background-color: var(--button);
  cursor: pointer;
  border: 2px solid var(--border);
  font-size: 10px;
  text-align: center; 
  flex: 1;
  max-width: 100%; 
  min-width: 100px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 14px;
  border-radius: 7px;
  height: 40px;
}

.headerButton:hover {
  background-color: var(--border);
}

/* cluster card */
.clusterCard {
  background-color: var(--bg) !important;
  width: 100%;
  padding: 12px;
  border: 2px solid var(--bgSoft);
  border-radius: 10px;
  cursor: pointer;
}

.clusterCard:hover {
  border: 2px solid var(--border);
}

.pathText {
  font-size: 12px;
  color: var(--textSoft)
}

/* summary section */
.summary {
  background-color: var(--bgSoftDark);
  border-radius: 8px;
}


/* switch button */
.switchRoot {
  width: 32px; 
  height: 18px; 
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &[data-state="checked"] {
    background-color: black;
  }
}

.switchThumb {
  display: block;
  width: 14px; 
  height: 14px; 
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px); 
  will-change: transform;
  cursor: pointer;

  &[data-state="checked"] {
    transform: translateX(16px); 
  }
}


.instanceArea {
  background-color: var(--bgSoft);
  border-radius: 4px;
}

.priceTitle {
  font-weight: bold;
}

/* dialog */
.dialogOverlay {
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: var(--bg);
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 768px;
  max-height: 85vh;
  padding: 0px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  padding: 20px;
  overflow: auto;
}

@media (max-width: 768px) {
  .dialogContent {
    max-width: 300px;
  }
}

.dialogContent:focus {
  outline: none;
}