.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toastLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  font-size: 14px;
  line-height: 1.5;
}

.link {
  color: #9945fc;
  text-decoration: underline;
  margin-left: 5px;
}

.link:hover {
  text-decoration: none;
}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.errorToast {
  border-left: 4px solid #ef4444;
}
